# Ignore build output directories
bin/
obj/
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows image file caches
Thumbs.db
ehthumbs.db

# VS Code directories
.vscode/

# JetBrains Rider directories
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core
project.lock.json
project.fragment.lock.json
